
<nav class="navbar navbar-default">
  <div class='container'>
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        稻 光 inabikari
      </a>

    </div>
    
    <ul class="nav navbar-nav">
      <li><a href="/out_of_service/">文 章</a></li>
      <li><a href="/out_of_service/">留 言</a></li>
      <li><a href="/out_of_service/">关 于</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/out_of_service/">登 录</a></li>
      <li><a href="/out_of_service/">注 册</a></li>
    </ul>
  
  </div>
</nav>

